.latex sub, .latex sup { text-transform: uppercase; }

.latex sub { vertical-align: -0.2rem;
             margin-left: -0.1667rem;
             margin-right: -0.125rem; }

.latex sup { vertical-align: 0.2rem;
             margin-left: -0.36rem;
             margin-right: -0.15rem; }