body { width: 74%;
       margin-left: auto;
       margin-right: auto;
       font-family: ETBembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; /* In print, Tufte uses Monotype Bembo, which is proprietary. Electronically he uses ETBembo, available under the MIT license through Edward Tufte, Adam Schwartz, and Marc Neuwirth's 'Presenter' project at https://github.com/edwardtufte/presenter (see http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0000Vt) */
       padding-bottom: 400px; }

.sans { font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
.code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; /* aping GitHub */
        color: #333;
        font-size: large; } 

article { position: relative; }

p { font-size: 1.6em;
    width: 65%;
    padding-right: 0px; }

.sidenote, .marginnote { float: right;
        clear: right;
        margin-right: -320px;
        width: 260px;
        font-size: 0.64em; }

h1 { font-style: italic;
     font-weight: 400;
     margin-top: 13%;
     margin-bottom: 0.2em;
     font-size: 2.5em; }

h2 { font-style: italic;
     font-weight: 400;
     font-size: 2.1em;
     margin-top: 1.5em; }

h3 { font-style: italic;
     font-weight: 400;
     font-size: 1.8em;
     margin-top: 1.5em; }

subtitle { font-style: italic;
           font-size: 2.1em;
           margin-bottom: 0.2em;
           display: block; }

table { width: 65%;
        text-align: right;
        font-size: 1.6em;
        border-top: 2px solid #333333;
        border-bottom: 2px solid #333333;
        border-collapse: separate; 
        border-spacing: 0 5px;
        -webkit-font-feature-settings: 'tnum'; /* This is technically redundant */
        -moz-font-feature-settings: 'tnum';
        -ms-font-feature-settings: 'tnum'; }

thead th { border-bottom: 1px solid #333333;
           font-weight: 400; 
           border-collapse: separate; 
           border-spacing: 5px 5px;}

span.url { word-break: break-all;
           font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace; }

sup.sidenote-number { font-size: medium; }

.sidenote sup.sidenote-number { font-size: small; }

span.newthought { font-variant: small-caps; }

/* LaTeX-logo-specific styling */
.latex sub, .latex sup { text-transform: uppercase; }

.latex sub { vertical-align: -0.5ex;
             margin-left: -0.1667em;
             margin-right: -0.125em; }

.latex, .latex sub { font-size: 1em; }

.latex sup { font-size: 0.85em;
             vertical-align: 0.15em;
             margin-left: -0.36em;
             margin-right: -0.15em; }